
    <?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
    <plist version="1.0">
    <dict>
        <key>items</key>
            <array>
                <dict>
                    <key>assets</key>
                    <array>
                        <dict>
                            <key>kind</key>
                            <string>software-package</string>
                            <key>url</key>
                            <string>http://192.168.8.149:5000/static/app/tchxueceapp(14).ipa</string>
                        </dict>
                        <dict>
                            <key>kind</key>
                            <string>full-size-image</string>
                            <key>needs-shine</key>
                            <true/>
                            <key>url</key>
                            <string>https://enterprise.cloudpay.com.cn/app/packages/iphone-2x.png</string>
                        </dict>
                    </array>
                    <key>metadata</key>
                        <dict>
                        <key>bundle-identifier</key>
                        <string>com.uni.tchxueceapp</string>
                        <key>bundle-version</key>
                        <string>1.16.0</string>
                        <key>kind</key>
                        <string>software</string>
                        <key>title</key>
                        <string>教师测试版</string>
                    </dict>
                </dict>
            </array>
    </dict>
    </plist>
